<header>
<img
src="/assets/perfil.jpeg"
alt="Carlos Eduardo - Foto de Perfil"
width="130px"
height="130px"
loading="eager">
</header>
<aside>
  <div class="container">
    <p>Software Engineer | Java, Spring Boot, AWS, Azure, Python & SQL</p>
    <p>Itapevi, São Paulo</p>
    <nav>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/carloseduardo0201/" target="_blank" class="btn primary-button"> Linkedin </a>
        </li>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn secondary-button"> Currículo </a>
        </li>
      </ul>
    </nav>


    <section>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:caduti0201@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>caduti0201&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
