:root{
 --primary: #4D4DFF;
 --primary-01: #3939BF;

 --secondary:#D22730;
 --secondary-01:#B8232A;
 --alternative:#1DD1B1;
 --black:#10101a;
 --black-01:#262930;
 --black-02:#3b404b;
 --white: #ffffff;

 --gray: #999999;
}
